<h2>What up?</h2>


<ul>
  <% @feelings.each do |feeling| %>
<button><%= link_to feeling.name, feeling%></button>
  <% end %>
</ul>
  <script type="text/javascript">
    $(".js-submit").on("submit", function(event){
      event.preventDefault();
    });
  </script>
