<h2>What up?</h2>

<input list="feelings" name="myFeelings" /></label>
<ul>
  <% @feelings.each do |feeling| %>
    <li>
      <%= link_to feeling.name, feeling %>
    </li>
  <% end %>
</ul>

     <script type="text/javascript">
       $(".js-submit").on("submit", function(event){
         event.preventDefault();
       });
     </script>
