<h2> How are you feeling? </h2>

  <% @feelings.each do |feeling| %>
<button><%= link_to feeling.name, feeling%></button>
  <% end %>

  <script type="text/javascript">
    $(".js-submit").on("submit", function(event){
      event.preventDefault();
    });
  </script>
    <h2> Not seeing your mood? <%= link_to "Add it here!", new_feeling_path(@feeling)%></h2>
