<h2>index</h2>

  <% @feelings.each do |feeling| %>
<button><%= link_to feeling.name, feeling%></button>
  <% end %>

  <script type="text/javascript">
    $(".js-submit").on("submit", function(event){
      event.preventDefault();
    });
  </script>
