<h2> "post show" </h2>

<section>
  <% @posts.each do |post| %>
    <article>
      <h2><%= link_to post.title, feeling_post_path(@post) %></h2>
      <p><%= post.body %></p>
    </article>
  <% end %>
</section>
