<h2> "post show" </h2>

<section>
<h3>Posts</h3>
<% @feeling.posts.each do |post| %>
<h3><%= link_to post.title, feeling_post_path(@feeling, post) %></h3>
<p><%= post.body %></p>
<% end %>
</section>
