@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

/*@import "bootstrap-sprockets";
@import "bootstrap";


@import "sassy-buttons"

 *= require_tree .
 *= require_self*/

body {
  max-width: 50em;
  margin:auto;
  padding:2em 1em;
  background: linear-gradient( -45deg, #f857a6 , #ff5858);
  left: 50%;
  height: 250vh;
  color: #333;
  font-family: 'Monoton', cursive;
  font-size: 40px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
  /*background: linear-gradient( -45deg, #f857a6 , #ff5858);
  background:linear-gradient(to right,hsla(195,100%,20%,.6),hsla(300,100%,40%,.4));*/

ul {
  list-style-type: none;
  align-content: center;
}

li {
  margin: .25em;
}

h1 {
  font-inherit;
  color:inherit;
  letter-spacing:-.05em;
  text-decoration:none;
}

h2 > a {
  font-size: .75em;
}
ul {
  float: right;
  list-style: none;
  li {
    float: center;
    margin-left: 15px;
  }
}
.button {
  border-radius: 3em;
  border-color: #f1c40f;
  color: #58DDAF;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 #f1c40f inset, 0 0 10px 4px #f1c40f;
  }

input[type=submit],
a.delete{
  width: auto;
  padding: 9px 15px;
  background-color: gray;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
}

form {
  background: #3d9970;
}

section article{
  border-bottom: 2px solid #aaa;
  padding: 2em 0;
}

section article:last-child{
  border:none;
}

label,
input[type="text"],
textarea{
  width:100%;
  font:inherit;
  display:block;
}
