<!DOCTYPE html>
<html>
<head>
  <title>All the Feelz</title>
  <link href="path/to/lightbox.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Cheerie</h1>
<%= yield %>
<script src="path/to/lightbox.js"></script>
</body>
</html>
